.profile-header {
  background-image: url('/FondoAlargadoHead\ .jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; /* 👈 Ocupa toda la altura de la ventana */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: sticky;
  color: #ffffff;
  overflow: hidden;
  z-index: 2;

}

.profile-header::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,00), rgba(18,18,18,1));
  z-index: 0;
}

.profile-info {
  background-color: rgba(0,0,0,0.5);
  padding: 2rem;
  max-width: 800px;
  border-radius: 10px;
}


body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

h1, h2 {
  color: #90caf9;
}

section {
  padding: 2rem;
  margin: auto;
  max-width: 900px;
}



/* 🧠 Sección de habilidades */
.skills-section {
  height: 100vh;
  background-image: url('/public/yo.jpg'); /* 👈 Imagen que aparece después del scroll */
  background-size: cover;
  background-position: center;
  padding: 4rem;
  color: #fff;
  z-index: 1;

}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #b0bec5;
}

/* 📬 Contacto */
.contact-section {
  color: #333;
  background-color: #f4f4f4;
  padding: 4rem;
  
}

