@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*---------------------------NavBar-------------------------------------------*/
.profile-header {
    margin-top: 70px;
}

* {
    font-family: 'Lato', sans-serif;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 1.8rem;
    color: #ffc107 !important;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}

.navbar-nav .nav-link {
    font-family: 'Great Vibes', cursive;
}

.navbar-brand:hover {
  transform: scale(1.15);
  color: #ffc107 !important; /* Amarillo dorado */
  transition: transform 0.8s ease;
  letter-spacing: 1.1px;
}

.navbar, .navbar-brand, .nav-link {
  transition: all 0.3s ease;
}


.nav-link {
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.4s ease;
    position: relative;
}

.nav-link:hover {
    color: #ffc107 !important; /* Amarillo dorado */    
}

.navbar {
    padding: 0.8rem 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    min-height: 70px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #ffc107; /* Amarillo dorado */
    transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


.bg-dark {
    background: linear-gradient(90deg, #0d0d0d, #1a1a1a);
}

/*-------------------------FIN DEL NavBar-----------------------------------*/


